---
http_interactions:
- request:
    method: get
    uri: http://api.bestbuy.com/v1/products(longDescription=iphone*)?apiKey=8zjkc9r7xng9wvqqjayyeya9&format=json&pageSize=15&show=name,salePrice,image,customerReviewAverage,shortDescription
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-04.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 3001,
          "currentPage": 1,
          "totalPages": 201,
          "queryTime": "0.005",
          "totalTime": "0.035",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"iphone*\")?show=name,salePrice,image,customerReviewAverage,shortDescription&format=json&apiKey=8zjkc9r7xng9wvqqjayyeya9",
          "products": [
            {
              "name": "3D Systems - iSense Portable 3D Scanner - Black/White",
              "salePrice": 499.99,
              "image": "http://img.bbystatic.com/BestBuy_US/images/products/4290/4290920_sa.jpg",
              "customerReviewAverage": null,
              "shortDescription": "Compatible with Apple&#174; iPhone&#174; 6Wireless network connectivityLightning portSnap-on designAuto-optimized settingsAutomatic object recognitionQuick cropping, enhancement and solidifying tools"
            },
            {
              "name": "Adobe Creative Cloud Photography Plan (1-User) (1-Year Subscription) - Windows|Mac|iOS",
              "salePrice": 119.99,
              "image": "http://img.bbystatic.com/BestBuy_US/images/products/8528/8528565_sa.jpg",
              "customer[...]
[...]
