<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Search for Best Buy items</h2>
      <%= form_tag('/search', method: "GET") %>
      <%= label_tag('Enter in keyword') %>
      <%= text_field_tag(:search) %>
      <%= submit_tag("Search") %>
    </div>
  </div>
</div>

